NODE_ENV=development
GAME_PORT=5240
GAME_BACKEND_URL=http://localhost:5240
FRONTEND_URL=http://localhost:5173
GAME_GUEST_HOURS=24
GAME_PUBLIC_PATH=assets/sprites/characters/childs/
GAME_VOICE_PUBLIC_PATH=assets/sounds/sfx/childs/
# GAME_STORAGE_PATH=storage
