NODE_ENV=development
GAME_PORT=5240
GAME_BACKEND_URL=http://localhost:5240
FRONTEND_URL=http://localhost:5173
GAME_GUEST_HOURS=24
# Catálogo de personagens
GAME_CHARACTERS_JSON=backup/criancas.json
GAME_RULES_JSON=backup/config.json
# Pasta public do jogo
GAME_PUBLIC_PATH=../game/public
# Storage
GAME_STORAGE_PATH=storage
